body {
  text-align: center;
  border: 2px solid black;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

.weekBlocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weekOf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.day {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
  .child,
  .weekOf,
  .pay {
    flex-direction: column;
    gap: 10px;
  }

  .weekBlocks {
    flex-direction: column;
    align-items: center;
  }

  .day {
    width: 90%;
  }

  body {
    font-size: 18px;
    padding: 10px;
  }
}
